/ .container-fluid
ui-view

/ / Test mock (TODO - remove)
/ .container-projects
/   .projects-header
/     .text-center
/       h1
/         strong SIMPLE TODO LISTS

/   .row
/     .col-md-8.col-md-offset-2
/       .panel.panel-primary

/         .panel-heading.task-header
/           .row
/             .col-xs-1.text-center
/               span.glyphicon.glyphicon-tasks
/             .col-xs-9.task-title
/               span Complete the test task for Ruby Garage
/               / span 0 2 4 6 8 1 2 4 6 8 2 2 4 6 8 3 2 4 6 8 4 2 4 6 8 5 2 4 6 8 6
/               / span 0 2 4 6 8 1 2 4 6 8 2 2 4 6 8 3 2 4 6 8 4 2 4 6 8 5
/             .col-xs-2.text-center.project-actions
/               ul.list-inline
/                 li.label
/                   a href="#"
/                     span.glyphicon.glyphicon-pencil
/                 li.label
/                   a href="#"
/                     i.glyphicon.glyphicon-trash

/         .panel-body
/           .plus-icon-lg.text-center
/             span.glyphicon.glyphicon-plus.text-success
/           .input-group.input-group-lg
/             input.form-control.input-lg placeholder="Start typing here to create a task..." /
/             span.input-group-btn
/               button.btn.btn-success.btn-lg.btn-project type="submit"
/                 span.add-task-button Add Task

/         table.table.table-bordered.table-rounded
/           tbody.task-list-hover
/             tr
/               td
/                 .task-status
/                   input type="checkbox"
/               td
/               td
/                 p.task-name Open this mock-up in Adobe Fireworks
/               td.task-actions
/                 ul.list-inline
/                   li
/                     a href="#"
/                       span.glyphicon.glyphicon-sort
/                   li
/                     a href="#"
/                       span.glyphicon.glyphicon-pencil
/                   li
/                     a href="#"
/                       span.glyphicon.glyphicon-trash

/             tr
/               td
/                 .task-status
/                   input type="checkbox"
/               td
/               td
/                 p.task-name Attentively check the file
/               td.task-actions
/                 ul.list-inline
/                   li
/                     a href="#"
/                       span.glyphicon.glyphicon-sort
/                   li
/                     a href="#"
/                       span.glyphicon.glyphicon-pencil
/                   li
/                     a href="#"
/                       span.glyphicon.glyphicon-trash

/             tr
/               td
/                 .task-status
/                   input type="checkbox"
/               td
/               td
/                 p.task-name Write HTML & CSS
/               td.task-actions
/                 ul.list-inline
/                   li
/                     a href="#"
/                       span.glyphicon.glyphicon-sort
/                   li
/                     a href="#"
/                       span.glyphicon.glyphicon-pencil
/                   li
/                     a href="#"
/                       span.glyphicon.glyphicon-trash

/             tr
/               td
/                 .task-status
/                   input type="checkbox"
/               td
/               td
/                 p.task-name Add Javascript to implement adding / editing / removing for todo items and lists taking into account as more use cases as possible
/               td.task-actions
/                 ul.list-inline
/                   li
/                     a href="#"
/                       span.glyphicon.glyphicon-sort
/                   li
/                     a href="#"
/                       span.glyphicon.glyphicon-pencil
/                   li
/                     a href="#"
/                       span.glyphicon.glyphicon-trash

/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/
/   br/

